@model IEnumerable<EC_Repuetos_v2.Models.EC_COMPRAS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EC_COMPRAS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_COMPRAS_FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_COMPRAS_CANTIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_COMPRAS_TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_COMPRAS_PAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_PRODUCTOS.EC_PRODUCTO_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EC_USUARIOS.EC_USUARIOS_CEDULA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EC_COMPRAS_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_COMPRAS_FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_COMPRAS_CANTIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_COMPRAS_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_COMPRAS_PAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_PRODUCTOS.EC_PRODUCTO_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_USUARIOS.EC_USUARIOS_CEDULA)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id = item.EC_COMPRAS_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.EC_COMPRAS_ID })
        </td>
    </tr>
}

</table>
