@model IEnumerable<EC_Repuetos_v2.Models.EC_PRODUCTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<div>
    @using (Html.BeginForm("Index", "EC_PRODUCTOS"))
    {
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="searchString" id="inputProducts" class="form-control" placeholder="Buscar productos" aria-describedby="basic-addon1">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
            </div>
        </div>
    }
</div>

<div class="list-view">
    @foreach (var item in Model)
    {
        <div class="list-item">
            <span class="p-cart">Repuestos de Motocicleta</span>
            <span class="p-brand">@item.EC_PRODUCTO_MARCA</span>
            <span class="p-name">@item.EC_PRODUCTO_NOMBRE</span>
            <img src="@Url.Content(@item.EC_PRODUCTO_URL_IMAGEN)"/>
            <span class="p-description">@item.EC_PRODUCTO_DESCRIPCION</span>

            <div class="add-to-cart">
                <input id="Button" type="button"  value="Registrarse" onclick="location.href='@Url.Action("Create", "EC_COMPRAS", new { id = item.EC_PRODUCTO_ID })'" />
                <span class="p-price">@String.Format("{0:c}", item.EC_PRODUCTO_PRECIO)</span>
            </div>
        </div>
    }
</div>
